
Minority Sentiment/Shapes/Texas/County.shx
Minority Sentiment/Shapes/Texas/County.shp
Minority Sentiment/Shapes/United States/USA_Counties.dbf
Minority Sentiment/Shapes/United States/USA_Counties.prj
Minority Sentiment/Shapes/United States/USA_Counties.shp
Minority Sentiment/Shapes/United States/USA_Counties.cpg
Minority Sentiment/Shapes/United States/USA_Counties.shx
Minority Sentiment/Shapes/United States/USA_Counties.xml
